<h3>Simple property set in an event</h3>
    <div>Counter: {{ counter }}</div>
    <button (click)='incrementCounter()'>Increment</button>

    <h3>Simple property set asynchronously</h3>
    <div>Tick: {{ tick() }}</div>

    <!-- <h3>Data retrieved from HTTP and stored in an array</h3>
    @for(member of members; track member.id) {
      <div>{{ member.name }}</div>
    } -->

    <!-- <h3>Data retrieved from HTTP with async pipe</h3>
    @for(member of members$ | async; track member.id) {
      <div>{{ member.name }}</div>
    } -->

    <!-- <h3>Data retrieved from HTTP and stored in a signal</h3>
    @for(member of msembersSignal(); track member.id) {
      <div>{{ member.name }}</div>
}    -->
